version: "{build}"
environment:
  GOPATH: c:\gopath
branches:
  only:
  - master
clone_folder: c:\gopath\src\github.com\richardlehane\siegfried
before_build:
- ps: if(!($env:APPVEYOR_REPO_TAG_NAME)){$env:SFVERSION="_"}
- ps: if($env:APPVEYOR_REPO_TAG_NAME){$env:SFVERSION=$env:APPVEYOR_REPO_TAG_NAME.Trim("v").Replace(".","-")}
- ps: if($env:APPVEYOR_REPO_TAG_NAME){$env:SFTITLE=$env:APPVEYOR_REPO_TAG_NAME.Trim("v")}
- ps: $env:SFDESC=[system.io.file]::ReadAllText('c:\gopath\src\github.com\richardlehane\siegfried\latest.md')
- ps: md win64
- ps: md win32
- ps: md siegfried
build_script:
- go build -a -o win64\sf.exe github.com/richardlehane/siegfried/cmd/sf
- go build -a -o win64\roy.exe github.com/richardlehane/siegfried/cmd/roy
- ps: $env:GOROOT="C:\go-x86"
- C:\go-x86\bin\go build -a -o win32\sf.exe github.com/richardlehane/siegfried/cmd/sf
- C:\go-x86\bin\go build -a -o win32\roy.exe github.com/richardlehane/siegfried/cmd/roy
- ps: Copy-Item "c:\gopath\src\github.com\richardlehane\siegfried\cmd\roy\data\*" siegfried -recurse
after_build:
- 7z a siegfried_%SFVERSION%_win64.zip win64\*.exe
- 7z a siegfried_%SFVERSION%_win32.zip win32\*.exe
- 7z a data_%SFVERSION%.zip siegfried
artifacts:
- path: siegfried_$(SFVERSION)_win64.zip
  name: win64
- path: siegfried_$(SFVERSION)_win32.zip
  name: win32
- path: data_$(SFVERSION).zip
  name: data
deploy:
- provider: GitHub
  auth_token:
    secure: d/jFwo/lO0o59JZDJdkA7E3NgHvknKz9aSMz4gRLMLZ6CiWJOGOA3mDYuAtCAEPo
  tag: $(APPVEYOR_REPO_TAG_NAME)
  release: Version $(SFTITLE) 
  description: $(SFDESC)
  artifact: win64,win32,data      
  draft: true
  prerelease: false
  on:
    appveyor_repo_tag: true
    branch: master               