Source: siegfried
Maintainer: Misty De Meo <mdemeo@artefactual.com>
Section: misc
Priority: optional
Standards-Version: 3.9.3
Build-Depends: debhelper (>= 9), golang-go (>= 2:1.5), dh-golang

Package: siegfried
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: PRONOM-based file identification tool
