#!/usr/bin/make -f

export DH_OPTIONS

export DH_GOPKG := github.com/richardlehane/siegfried

# Tests assume a fixed position for the PRONOM files,
# which doesn't work with the way that dh-golang restructures
# the package.
override_dh_auto_test:

%:
	dh $@ --buildsystem=golang --with=golang
